<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>
        Team Name: <%= @team_name %>
    </h1>
    <li>
        Coach: <%= @coach%>
    </li>
    <li>
        Point Guard: <%= @point_guard %>
    </li>
    <li>
        Shooting Guard: <%= @shooting_guard %>
    </li>
    <li>
        Power Forward: <%= @power_forward %>
    </li>
    <li>
        Small Forward: <%= @small_forward %>
    </li>
    <li>
        Center: <%= @center %>
    </li>
 </body>
</html>


