<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

  <h1><p>Team Name: <%= params[:name].to_s%></p></h1>
  <p>Coach: <%= params[:coach].to_s %></p>
  <p>Point Guard: <%= params[:pg].to_s %></p>
  <p>Shooting Guard: <%= params[:sg].to_s %></p>
  <p>Power Forward: <%= params[:pf].to_s %></p>
  <p>Small Forward: <%= params[:sf].to_s %></p>
  <p>Center: <%= params[:c].to_s %></p>

 </body>
</html>
